ENV{DMI_VENDOR}=="[sS][aA][mM][sS][uU][nN][gG]*", ATTR{[dmi/id]product_name}=="*900[xX]4[cC]*", RUN+="/lib/udev/keyboard-force-release.sh $devpath /etc/udev/keymaps/force-release/samsung-900x4c"
